@charset "utf-8";
@font-face {
  font-family: "Noto Sans";
  src: url("../../webfonts/NotoSansKR-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans-R";
  src: url("../../webfonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nanum";
  src: url("../../webfonts/NotoSansKR-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans-bold";
  src: url("../../webfonts/NotoSansKR-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-size: 16px;
  font-weight: 500;
}
#fullpage {
  width: 100%;
  height: 100%;
}
/* ::-webkit-scrollbar {
  display: none;
} */
.menu_btn {
  position: fixed;
  top: 95px;
  right: 0;
  height: 100%;
  z-index: 70;
  width: 100px;
  /* border-left: 1px solid rgba(255, 255, 255, 0.349); */
}
.menu_btn .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.349);
}
.menu_btn .line.on {
  background: rgba(0, 0, 0, 0.349);
}
.menu_btn .line.on1 {
  background: rgba(0, 0, 0, 0);
}
#menu {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 0px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#menu li {
  position: relative;
  height: 72px;
  cursor: pointer;
}
#menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  width: 72px;
  height: 72px;
  opacity: 0;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* font-family: "Ubuntu", sans-serif; */
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.5s;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 999;
}
#menu li::after {
  content: "";
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
}
#menu li.on::after {
  background: #000;
}
#menu li.active:after {
  opacity: 0;
}
#menu li.active a {
  position: absolute;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  background: #fff;
}
header {
  font-family: "nanum";
  position: fixed;
  width: 100%;
  min-width: 1700px;
  height: 106px;
  left: 0;
  top: 0;
  /* overflow: hidden; */
  z-index: 9999;
  transition: 0s;
}
.line {
  content: "";
  display: block;
  position: absolute;
  top: 105px;
  width: 1830px;
  z-index: 999;
  height: 1px;
  background: rgba(255, 255, 255, 0.295);
}
header.on {
  height: 500px;
  background: white;
  transition: 0.5s;
  z-index: 9999;
}
header.on1 {
  background: white;
}
header.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ccc;
  top: 105px;
  left: 0;
}
header .head {
  position: relative;
  padding-top: 5px;
  width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .head .main {
  display: flex;
}
header .head .main .menu {
  display: flex;
}
header .head .main .menu > li {
  position: relative;
  line-height: 80px;
  text-align: center;
}
header .head .main .menu > li:hover {
  background: #002957;
}

header .head .main .menu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 197px;
  font-size: 18px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
}

header .head .main .menu > li > a.on {
  color: black;
}
header .head .main .menu > li:hover > a,
header .head .main .menu > li > a.on1 {
  color: white;
}
header .head .main .icon {
  display: flex;
  line-height: 80px;
}
header .head .main .menu .sub {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0s;
  z-index: 9999;
}
header .head .main .menu .sub.on {
  opacity: 1;
  height: 380px;
  transition: 0.5s;
}
header .head .main .menu .sub li {
  line-height: 60px;
  text-align: center;
}

header .head .main .menu .sub li a {
  font-size: 16px;
  font-weight: 500;
  color: #2b2b2b;
  letter-spacing: -0.5;
}

header .head .main .menu .sub li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
header .head .main .menu > li:hover .sub {
  background: #002957;
  color: #ffffff;
}
header .head .main .menu > li:hover .sub a {
  color: #ffffff;
}
.hd_bottom {
  position: absolute;
  bottom: -300px;
  right: -85%;
  width: 1700px;
}
.Ticon {
  margin-top: 30px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.Ticon li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Ticon li:first-child a {
  background: #ea5221;
}
.Ticon li:nth-child(2) a {
  background: #36a135;
}
.Ticon li:nth-child(3) a {
  background: #e21a20;
}
.Ticon li a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  margin-right: 20px;
  box-sizing: border-box;
  width: 155px;
  display: flex;
  justify-content: space-between;
}
.icon a {
  padding: 2px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 11px;
  color: white;
}
.icon :nth-child(2) a {
  display: flex;
  flex-wrap: wrap;
}
.search {
  background: #002957;
  border: none;
}
.cart {
  flex-direction: column;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.719);
}
.cart img {
  filter: none;
}
.cart:hover {
  background: #002957;
}
header.on .icon .cart {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.445);
}
header.on .icon .cart img {
  filter: invert(0%) sepia(99%) saturate(16%) hue-rotate(109deg) brightness(0%)
    contrast(99%);
}
.icon a:hover {
  border: none;
}
.language {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 90px;
}
.info {
  position: absolute;
  top: 40px;
  right: -80px;
  width: 80px;
  height: 21px;
  transform: translateY(-50%);
  z-index: 9999;
}
header.on .info {
  color: #15181b;
}
#gnb > li {
}
#gnb > li > a {
  align-items: center;
  display: flex;
  color: rgba(255, 255, 255, 0.788);
}
#gnb > li > a::after {
  content: "";
  display: block;
  padding-left: 10px;
  width: 20px;
  height: 20px;
  background: url(../icon_img/arrow_drop_down.png) no-repeat right;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(7%)
    hue-rotate(129deg) brightness(102%) contrast(104%);
}
.dropsub {
  position: absolute;
  right: 30px;
  top: 55px;
  width: 80px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.788);
}

.dropsub > li > a {
  color: rgba(255, 255, 255, 0.788);
}

#gnb li:hover .dropsub {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 970px;
}
.sec1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sec1 .main_banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.sec1 .swiper {
  width: 100%;
  height: 100%;
}

.sec1 .swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 .swiper-slide img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.5);
}
.sec1 .swiper-slide img.on {
  transform: scale(1);
  transition: 2.5s;
}
.sec1 .swiper-slide .aniBox {
  z-index: 9999;
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fff;
  overflow: hidden;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox {
  position: relative;
  left: -100%;
  display: inline-block;
  width: 100%;
}
.aniBox .sec1_Txtbox.on {
  animation: txtAni 4.7s 0.5s forwards;
}
@keyframes txtAni {
  0% {
    left: -100%;
  }
  60% {
    left: 0;
  }
  80% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox h1 {
  color: white;
  font-size: 80px;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox h1 span:first-of-type {
  font-weight: lighter;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox h1 span:first-child {
  font-family: "Noto Sans";
  font-weight: 600;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox h1 span:nth-of-type(2) {
  color: #01b4e5;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox p {
  font-size: 28px;
  font-family: "Noto Sans";
  color: white;
  font-weight: 600;
}
.sec1 .swiper-slide .aniBox .sec1_Txtbox p span {
  color: #01b4e5;
}

.sec1 .swiper-button-next {
  margin: 10px;
  display: block;
  align-items: center;
  width: 30px;
  cursor: pointer;
  height: 30px;
  position: absolute;
  left: 28.5%;
  top: 70%;
}
.sec1 .swiper-button-next .line1 {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  transform: rotate(-40deg);
  background: white;
  position: absolute;
  top: 25px;
}
.sec1 .swiper-button-next .line2 {
  content: "";
  width: 8px;
  height: 1px;
  transform: rotate(40deg);
  background: white;
  position: absolute;
  display: block;
  top: 20px;
}
.sec1 .swiper-button-prev {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 26%;
  top: 71.5%;
}
.sec1 .swiper-button-prev .line1 {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  transform: rotate(40deg);
  background: white;
  position: absolute;
  top: 11px;
  left: 11px;
}
.sec1 .swiper-button-prev .line2 {
  content: "";
  width: 8px;
  height: 1px;
  transform: rotate(-40deg);
  background: white;
  display: block;
  position: absolute;
  top: 6px;
}
.sec1 .swiper-button-prev::after,
.sec1 .swiper-button-next::after {
  display: none;
}
.sec1 .swiper-pagination {
  width: 150px;
  position: absolute;
  left: 19%;
  bottom: 25%;
}
.sec1 .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: none;
  border: 1px solid #fff;
  opacity: 1;
}
.sec1 .swiper-pagination-bullet-active {
  width: 40px;
  height: 14px;
  background: white;
  border-radius: 30px;
}
.sec2 {
  background: url(../images/product_bg.jpg) no-repeat center;
}
.sec2 .prod_box {
  width: 1000px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.sec2 .prod_box h1 {
  font-family: "Noto Sans-bold";
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 70px;
}
.sec2 .prod_box p {
  line-height: 30px;
  font-size: 18px;
}
.prod_slide {
  height: 455px;
  width: 1280px;
  margin: 0 auto;
}
.prod_slide .center {
  /* width: 1000px; */
  height: 455px;
  display: flex;
  justify-content: center;
}
.prod_slide .center .slide_box {
  height: 455px;
  display: flex;
  align-items: center;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  margin: 0px 25px;
}

.slick-active {
  width: 300px !important;
  height: 220px !important;
}

.slick-current {
  opacity: 1;
  width: 500px !important;
  color: #fff;
}
.slick-slide svg {
  transform: scale(0.2);
}
.slick-slide .slide_boxTxt {
  width: 300px;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}
.slick-current .slide_boxTxt {
  width: 495px;
  padding: 50px;
  background: transparent;
  box-sizing: border-box;
}
.slick-current .slide_box_inner {
  width: 500px !important;
  height: 400px !important;
  background: #002957;
}
.slide_box .slide_info {
  display: none;
  padding: 20px;
}
.slide_box .slide_info ul {
  display: flex;
  flex-wrap: wrap;
}
.slide_box .slide_info ul li {
  flex: 0 1 45%;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}
.slide_box .slide_info ul li a {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
}
.slide_box .slide_info ul li:nth-child(2n + 1) a::after {
  content: "|";
  position: absolute;
  top: 0;
  right: 20px;
}
.slick-slide.slick-center .slide_info {
  display: block;
}

/* .slick-center .slide_box {
  width: 400px;
  height: 455px;
} */
/* .inBox {
  width: 300px;
  background: white;
  padding: 30px;
} */
/* .slick-track {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 455px;
} */

/* .slide_box {
  position: relative;
  margin: 30px;
} */
/* .slide_box .slide_boxTxt h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #002957;
}
.slide_box .slide_boxTxt p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #2b2b2bab;
}
.slide_box .slide_boxTxt svg {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
}
.slide_box .slide_info {
  border-top: 2px solid black;
}
.slide_box .slide_info ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.slide_box .slide_info ul li {
  width: 170px;
  height: 42px;
} */
.sec3 {
  background: url(../images/comp_bg.jpg) no-repeat center;
}
.sec3 .inner {
  width: 1090px;
  margin: 0 auto;
}
.sec3 .sec3_txtbox {
  color: #2b2b2bda;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
.sec3 .sec3_txtbox h1 {
  font-family: "Noto Sans-bold";
  font-size: 70px;
}
.sec3 .sec3_txtbox p {
  margin-left: 70px;
  font-weight: 600;
  font-size: 18px;
}
.sec3 .sec3_con ul {
  display: flex;
  justify-content: space-between;
}
.sec3 .sec3_con ul li {
  position: relative;
  width: 260px;
  height: 400px;
  overflow: hidden;
}
.sec3 .sec3_con ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
.sec3 .sec3_con ul li a .li_txt {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}
.sec3 .sec3_con ul li a .li_txt h1 {
  font-family: "Noto Sans-bold";
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 150px;
}
.sec3 .sec3_con ul li a .li_txt .hover {
  margin-left: 95px;
  position: relative;
  border: 0.1px solid rgba(255, 255, 255, 0.445);
  text-align: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 1s;
}
.sec3 .sec3_con ul li a .li_txt .hover p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec3 .sec3_con ul li:hover a .li_txt .hover {
  background: #01b4e5;
}
.sec4 {
  background: url(../images/career_bg.jpg) no-repeat center;
}

.sec4 .sec4_txt {
  width: 1090px;
  margin: 0 auto;
  color: white;
  text-align: center;
  margin-bottom: 90px;
}
.sec4 .sec4_txt h1 {
  margin-bottom: 30px;
  font-size: 70px;
  font-family: "Noto Sans-bold";
}
.sec4 .sec4_txt p {
  font-size: 18px;
  font-weight: 600;
}
.sec4 .sec4_con {
  width: 1400px;
  text-align: center;
  margin: 0 auto;
}
.sec4 .sec4_con h1 {
  font-family: "Noto Sans-bold";
}
.sec4 .sec4_con ul {
  color: white;
  display: flex;
  justify-content: space-between;
}
.sec4 .sec4_con ul li {
  width: 350px;
}
.sec4 .sec4_con ul li a {
  display: block;
  color: white;
  transform: translateY(0);
  transition: 0.8s;
}
.sec4.sec4_con ul li a .a_box img {
  margin-bottom: 30px;
}
.sec4 .sec4_con ul li a .a_box h1 {
  margin-bottom: 30px;
  font-size: 30px;
}
.sec4 .sec4_con ul li a .a_box p {
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
}
.sec4 .sec4_con ul li:hover a {
  transform: translateY(-50px);
}
.sec4 .sec4_con ul li .hover {
  margin-top: 30px;
  margin-left: 140px;
  position: relative;
  border: 0.1px solid rgba(255, 255, 255, 0.445);
  text-align: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 1s;
}
.sec4 .sec4_con ul li .hover p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec4 .sec4_con ul li:hover .hover {
  background: #01b4e5;
}
.sec5 {
  background: #eff3f8;
}
.sec5 .sec5_inner {
  width: 1090px;
  margin: 0 auto;
}
.sec5 .sec5_inner .sec5_txt {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.sec5 .sec5_inner .sec5_txt h1 {
  font-family: "Noto Sans-bold";
  font-size: 70px;
}
.sec5 .sec5_inner .sec5_txt p {
  font-size: 18px;
  font-weight: 600;
  margin-left: 90px;
}
.sec5 .sec5_inner .sec5_con ul {
  display: flex;
  justify-content: space-between;
}
.sec5 .sec5_inner .sec5_con ul li {
  width: 253px;
  height: 393px;
  background: white;
}

.sec5 .sec5_inner .sec5_con ul li a .con_img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.sec5 .sec5_inner .sec5_con ul li:first-child a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 253px;
  height: 163.97px;
  transition: 0.5s;
}
.sec5 .sec5_inner .sec5_con ul li:first-child:hover a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.08);
}
.sec5 .sec5_inner .sec5_con ul li:nth-child(2) a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 253px;
  height: 168.57px;
  transition: 0.5s;
}
.sec5 .sec5_inner .sec5_con ul li:nth-child(2):hover a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.08);
}
.sec5 .sec5_inner .sec5_con ul li:nth-child(3) a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 253px;
  height: 180px;
  transition: 0.5s;
}
.sec5 .sec5_inner .sec5_con ul li:nth-child(3):hover a .con_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.08);
}
.sec5 .sec5_inner .sec5_con ul li:last-child a .con_img {
  position: relative;
  background: #002957;
}
.sec5 .sec5_inner .sec5_con ul li:last-child a .con_img {
  overflow: visible;
}
.sec5 .sec5_inner .sec5_con ul li:last-child a .con_img img {
  position: absolute;
  top: 44px;
  left: 45px;
  transition: 0.5s;
}
.sec5 .sec5_inner .sec5_con ul li:last-child:hover a .con_img img {
  top: 30px;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 193px;
  height: 133px;
  padding: 30px;
  line-height: 27px;
}

.sec5 .sec5_inner .sec5_con ul li a .con_txt p:first-child {
  padding-bottom: 5px;
  color: #002957;
  font-size: 14px;
  font-weight: 600;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt p:nth-child(2) {
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: 600;
  padding-bottom: 22px;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt p:last-child {
  font-size: 14px;
  color: #929292;
  font-weight: 600;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt h4 {
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 22px;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt > div {
  padding-top: 25px;
  font-size: 14px;
  color: #929292;
  font-weight: 600;
}
.sec5 .sec5_inner .sec5_con ul li a .con_txt > div img {
  padding-left: 5px;
}
.sec6 {
  background: url(../images/life_bg.jpg) no-repeat center;
}
.sec6 .sec6_inner {
  width: 1090px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec6 .sec6_inner .sec6_txt {
  padding-top: 90px;
  color: white;
}
.sec6 .sec6_inner .sec6_txt h1 {
  font-family: "Noto Sans-bold";
  font-size: 70px;
  margin-bottom: 30px;
}
.sec6 .sec6_inner .sec6_txt p {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.sec6 .sec6_inner .sec6_con {
  margin-top: 35px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.sec6 .sec6_inner .sec6_con ul {
  width: 600px;
  height: 300px;
  display: flex;
}
.sec6 .sec6_inner .sec6_con ul:first-child {
  justify-content: end;
}
.sec6 .sec6_inner .sec6_con ul:nth-child(2) li:nth-child(2) a {
  background: #cccccc25;
  border-color: transparent;
  transition: 0.5s;
}
.sec6 .sec6_inner .sec6_con ul:nth-child(2) li:nth-child(2):hover a {
  background: #cccccc25;
  border-color: #01b4e5;
}
.sec6 .sec6_inner .sec6_con ul li a {
  position: relative;
  color: white;
  width: 218px;
  height: 218px;
  display: block;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.603);
  transition: 0.5s;
}
.sec6 .sec6_inner .sec6_con ul li:hover a {
  border-color: #01b4e5;
}
.sec6 .sec6_inner .sec6_con ul li a .txtTop {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  width: 220px;
  font-size: 12px;
  font-weight: 600;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
  transition: 1s;
}
.sec6 .sec6_inner .sec6_con ul li a .txtTop img {
  filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%)
    contrast(200%);
}
.sec6 .sec6_inner .sec6_con ul li:hover a .txtTop img {
  filter: none;
}
.sec6 .sec6_inner .sec6_con ul li a .txtBottom {
  width: 250px;
  position: absolute;
  bottom: 40px;
}
.sec6 .sec6_inner .sec6_con ul li a .txtBottom h1 {
  margin-bottom: 20px;
  font-family: "Noto Sans-bold";
  font-size: 36px;
}
.sec6 .sec6_inner .sec6_con ul li a .txtBottom p {
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
}
.sec7 {
  width: 100%;
  height: 666px;
}
.sec7 .sec7_con {
  font-family: "Noto Sans";
  font-weight: 600;
  width: 1090px;
  margin: 0 auto;
}
.sec7 .sec7_con > ul {
  display: flex;
  justify-content: center;
}
.sec7 .sec7_con > ul > .in_flex {
  padding: 48px 36px;
  width: 20%;
  border-right: 1px solid #ccc;
}

.sec7 .sec7_con > ul > .in_flex:first-child {
  border-left: 1px solid #ccc;
}
.sec7 .sec7_con > ul > .in_flex > ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.sec7 .sec7_con > ul > .in_flex > ul > li {
  width: 144px;
  margin-bottom: 18px;
}
.sec7 .sec7_con > ul > .in_flex > ul > li > a {
  font-size: 15px;
  color: #727272;
}
.sec7 footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background: #1e2327;
}

.sec7 footer .ft_top {
  display: flex;
  justify-content: space-between;
  width: 1700px;
  height: 102px;
  margin: 0 auto;
}
.sec7 footer .ft_top .ft_txt1 {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.sec7 footer .ft_top .ft_txt1 ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.sec7 footer .ft_top .ft_txt1 ul li {
  display: flex;
  gap: 10px;
}
.sec7 footer .ft_top .ft_txt1 ul li span {
  width: 64px;
  font-size: 14px;
  font-weight: bold;
}
.sec7 footer .ft_top .ft_txt1 ul li p {
  color: #727272;
  font-size: 14px;
  font-weight: bold;
}
.sec7 footer .ft_top .ft_txt2 {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.sec7 footer .ft_top .ft_txt2 ul {
  margin-top: 30px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.sec7 footer .ft_top .ft_txt2 ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #4747478e;
  border-radius: 50%;
}
.sec7 footer .ft_top .ft_txt2 ul li a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec7 footer .ft_top .ft_txt3 {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.sec7 footer .ft_top .ft_txt3 .ft_drop {
  position: relative;
  width: 220px;
  margin-right: 340px;
  margin-top: 30px;
  width: 180px;
  overflow: hidden;
}

.sec7 footer .ft_top .ft_txt3 .ft_drop > li > a {
  display: flex;
  justify-content: space-between;
  color: #a8a8a8;
  align-items: center;
  font-weight: 300;
}
.sec7 footer .ft_top .ft_txt3 .ft_drop > li > a > img {
  width: 3px;
  height: 3px;
}
.sec7 footer .ft_top .ft_txt3 .ft_drop .ft_hide li a {
  font-weight: 500;
  color: #a8a8a8;
}
.sec7 .ft_bottom {
  position: relative;
  width: 100%;
  padding: 16px 0;
  background: #15181b;
}
.sec7 .ft_bottom .ftBot_in {
  color: #727272;
  display: flex;
  justify-content: space-between;
  width: 1700px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
}
.sec7 .ft_bottom .ftBot_in .ftBot_right {
  display: flex;
}
.sec7 .ft_bottom .ftBot_in .ftBot_right p {
  padding: 0 10px;
}
.back {
  position: fixed;
  bottom: 50px;
  right: 55px;
  padding: 7px 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 20px;
  z-index: 9999;
  transition: 0.5s;
}
.back span {
  cursor: pointer;

  width: 10px;
  height: 10px;
  transition: 0.5s;
}
.back p {
  padding-top: 7px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}
.back:hover {
  background: #01b4e5;
}
.back:hover span,
.back:hover p {
  color: white;
}
